/*=============================================
=                CSS Resets                   =
=============================================*/

/**
 *
 * The normalize.scss npm package improves browser rendering consistency
 * https://necolas.github.io/normalize.css/
 *
*/

@import "node_modules/normalize-scss/sass/normalize/import-now";

/*=====  End of CSS Resets  ======*/
